/buoi n +n +n/nbproject/private/
/DaHinh/nbproject/private/
/DaHinh/build/
/Exeption/nbproject/private/
/Exeption/build/
/file/nbproject/private/
/file/build/
/n +11/nbproject/private/
/n +11/build/
/buoi n+12/nbproject/private/
/buoi n+12/build/
/buoi n+13/nbproject/private/
/buoi n+13/build/
/DB/nbproject/private/
/DB2/nbproject/private/
/DB/build/
/DB2/build/
/HTML.1/nbproject/private/
/HTML.2/nbproject/private/
/HTML-2/nbproject/private/